@import "tailwindcss";

/* Regular (non-italic) Lora */
@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Italic Lora */
@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.productList {
   display: flex;
   flex-direction: column;
}

.tableRow {
    display: grid;
    grid-template-columns: 33% 33% auto;
}

.product {
    grid-template-rows: 40px;
    align-items: center;
}

.product-link-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-a {
    grid-column-start: 1;
    grid-column-end: 2;
}

.col-b {
    grid-column-start: 2;
    grid-column-end: 3;
}

.col-c {
    grid-column-start: 3;
    grid-column-end: 4;
}

.title {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 350px;  
    height: 400px;
    margin: 0;
}

